---

const base = import.meta.env.BASE_URL === "/" ? "" : import.meta.env.BASE_URL;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={ base + "/favicon.svg" } />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Typing Rust Patterns</title>
	</head>
	<body>
		<div id="grid">
			<div>
				<h1><span>T</span>yping <span>Ru</span>st <span>P</span>atterns</h1>
				<b><a href="https://github.com/Nadrieril/typing-rust-patterns" target="_blank">See on Github</a></b>.
				Frontend adapted from
				<a href="https://github.com/lyonsyonii/rubri" target="_blank">rubri</a>.
			</div>
			<div id="options">
				<label for="inherited_ref_on_ref">Inherited ref on ref</label>
				<select id="inherited_ref_on_ref">
				  <option value="EatOuter">EatOuter</option>
				  <option value="EatInner">EatInner</option>
				  <option value="EatBoth">EatBoth</option>
				</select>
			</div>
			<input type="text" id="input" spellcheck="false" />
			<div id="terminal" />
		</div>
	</body>
</html>

<style>
	body {
		/* height: 100vh; */
		font-family: 'Courier New', Courier, monospace;
		margin: 0;
		padding: 0;
	}
	#grid {
		/* height: calc(100% - 1rem); */
		margin-left: 1rem;
		margin-right: 1rem;
		display: grid;
		grid-template-rows: min-content min-content 1fr 5rem 1fr;
		gap: .5rem;
	}
	button {
		font-family: inherit;
		font-weight: 700;
		font-size: large;
	}
	textarea#input {
		font-size: x-large;
		resize: none;
	}
	#terminal {
		white-space: pre-wrap;
	}
	#live-edit, #live-edit-wrapper {
		user-select: none;
	}
	span {
		text-decoration: underline;
	}
</style>

<script>
	import { Interpreter } from "../interpreter";
	import { setupEditor } from "../editor";
	import { AnsiUp } from "ansi_up";
	
	const input = document.body.querySelector<HTMLTextAreaElement>("#input")!;
	const inherited_ref_on_ref = document.body.querySelector<HTMLInputElement>("#inherited_ref_on_ref")!;
	const termElement = document.getElementById("terminal")!;

	const ansiUp = new AnsiUp();
	input.value = "Loading...";
	input.readOnly = true;

	setupEditor(input);

	// Interpreter initialization
	const interpreter = new Interpreter();

	// When Interpreter has finished loading, add default code
	interpreter.onLoaded(() => {
		input.readOnly = false;
		input.value = '[&x]: &[&T]';
		runInterpreter()
	});

	function runInterpreter() {
		if (interpreter.running) {
			return;
		}
		termElement.innerHTML = "Running...";
		lastInput = input.value;
		interpreter.run_solver(input.value || "")
	}

	// When result is received from a running Interpreter write it to the terminal
	let lastInput = "";
	interpreter.onResult(result => {
		termElement.innerHTML = ansiUp.ansi_to_html(result.replaceAll("\n", "\r"));
		if (lastInput && lastInput !== input.value) {
			// Re-run if the input changed while the interpreter was running.
			input.dispatchEvent(new Event("input"));
		}
	});

	input.addEventListener("input", runInterpreter);
	inherited_ref_on_ref.addEventListener("change", () => {
		interpreter.set_key("inherited_ref_on_ref", inherited_ref_on_ref.value);
		runInterpreter()
	});
</script>
